.task_box{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;    
    padding: 1rem;
}
.task_text{
    margin: 1rem 0;
}
.tasks_div{
    display: flex;
    justify-content: space-between;
}
.tasks{
    flex-grow: 0.8;
}
.filter{
    border: 1px solid black;
    flex-grow: 0.2;
    margin: 1rem;
}
.checkbox{
    display: flex;
    flex-direction: row;
    background-color: blue;
}
.title_desc{
    flex:1;
    background-color: bisque;
}